<template id="task-template">
  <div class="task">
    <input type="checkbox" class="task__checkbox" name="isDone" value="0" />
    <div class="task__header">
      <h4 class="task__title">{{ title }}</h4>
      <div class="task__menu">
        <button class="icon-button">
          <span class="material-symbols-rounded"> edit </span>
        </button>

        <button class="icon-button">
          <span class="material-symbols-rounded"> edit_calendar </span>
        </button>

        <button class="icon-button">
          <span class="material-symbols-rounded"> delete </span>
        </button>
      </div>
    </div>
    <div class="task__content">
      <div class="task__description">{{ description }}</div>
      <div class="task__due-date">{{ dueDate }}</div>
    </div>
  </div>
</template>
