.task {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "checkmark header"
    ". content";
  column-gap: 10px;
  padding: 10px;
}

.task__checkbox {
  grid-area: checkmark;
}

.task__header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__content {
  grid-area: content;
}

.task__title {
  font-weight: bold;
}

.task__menu > .icon-button > span {
  font-size: 1.25rem;
}

.task__description {
  font-size: small;
  color: var(--color-neutral-300);
}

.task__due-date {
  font-size: small;
  color: var(--accent-color);
}
