.task {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "checkmark header"
    ". content";
  padding: 10px;
  column-gap: 16px;

  position: relative;
}

.task__checkbox {
  grid-area: checkmark;
}

.task__header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 100px;
}

.task__content {
  grid-area: content;
}

.task__title {
  font-weight: bold;
  margin: 8px 0px;
}

.task__menu {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.task:hover .task__menu {
  opacity: 1;
  visibility: visible;
}

.task__menu > .icon-button > span {
  font-size: 1.25rem;
}

.task__description {
  font-size: small;
  color: var(--color-neutral-300);
}

.task__due-date {
  font-size: small;
  color: var(--accent-color);
}
